
*.o
*.lo
*.so
*.la
*.a
.*.swp
*~
openvpn-ldap-search
openvpn-ldap-auth-test
m4
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
Makefile.in
config.log
config.guess
config.sub
config.status
.deps
.libs
autom4te.cache
aclocal.m4
Makefile
configure
config.h
testplugin
